.form {
    text-align: center;
}

.image {
    margin: 20px auto 20px auto;
    width: 64px;
    height: 64px;
}

.text-field {
    margin: 20px auto 20px auto;
}

.button {
    margin-top: 20px;
    position: relative;
}

.progress {
    position: absolute;
}