.paper {
    padding: 20px;
    .buttons {
        text-align: center;
        & a {
            margin: 20px 10px;
        }
    }
}

.profile {
    & .image-wrapper {
        text-align: center;
        position: relative;
        & input[type="file"] {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
        }
        & button {
            position: absolute;
            top: 80%;
            left: 70%;
        }

        & .profile-image {
            width: 150px;
            height: 150px;
            object-fit: cover;
            max-width: 100%;
            border-radius: 50%;
        }
    }
    & .profile-details {
        text-align: center;
        & span,
        svg {
            vertical-align: middle;
        }
        & a {
            color: #00bcd4;
        }
        & svg.button {
            &:hover {
                cursor: pointer;
            }
        }
    }
    & hr {
        border: none;
        margin: 0 0 10px 0;
    }
}
